@import "tailwindcss";

/* custom style only tag */
@layer base{
    h1{
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@layer components{
    .btn{
        padding: 10px 20px;
        background-color: lightcoral;
        border: none;
        outline: 5px solid green;
        border-radius: 10px;
    }
    .btn:hover{
        background-color: aqua;
    }
    .card{
        height: 300px;
        width: 250px;
        box-shadow: 0px 0px 10px 10px gray;
    }
}

@layer utilities{
    .font{
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
